// 品牌色
@jt-color-primary: #0068FF; //@blue-6
@jt-color-hover: #5392ff;
@jt-color-pressed: #125de1;
// 功能色
@jt-color-success: #10C038; // @green-6
@jt-color-processing: @jt-color-primary;
@jt-color-error: #F04134; // @red-6
@jt-color-highlight: #F04134; // @red-6
// @jt-color-warning-high: #FF931D; // @orange-6
@jt-color-warning: #FF931D; // @yellow-6
// @jt-color-warning-low: #FFD667;
@jt-color-on-duty: @jt-color-primary;
@jt-color-off-duty: #75849b;
// 中立色
@jt-color-white: #fff;
@jt-color-table-header: #F4F5F7;
@jt-color-nav-hover: #F5F8FF;
// #F9FAFC
// #E9ECF1
@jt-color-bg: #EFF1F4;
@jt-color-text-title: #031129;
@jt-color-text-strong: #333333;
@jt-color-text: #555555;
@jt-color-text-secondary: #999999;
// #BBBBBB
@jt-color-nav-text: #D9D9D9;
// #D0D0D0

// for alert
@jt-alert-success-border-color: #87DF9B;
@jt-alert-success-bg-color: #E7F8EB;
@jt-alert-info-border-color: #99BEFF;
@jt-alert-info-bg-color: #EAF2FF;
@jt-alert-warning-border-color: #FFC98E;
@jt-alert-warning-bg-color: #FFF4E8;
@jt-alert-error-border-color: #F7A099;
@jt-alert-error-bg-color: #FDECEA;

@jt-font-size-sm: 12px;
@jt-font-size-base: 14px;
@jt-font-size-lg: @jt-font-size-base + 2px;
@jt-font-size-lger: @jt-font-size-lg + 2px;
@jt-font-weight: 400;
@jt-font-weight-medium: 600;

@jt-border-radius: 2px;

@jt-gap: 20px;

//侧边导航栏自定义颜色
@jt-sider-menu-cmcc-bg: #081a39;
@jt-sider-menu-header-bg: #172b4d;
@jt-menu-subitem-hover-bg: #102241;
@jt-menu-subitem-hover-color: #D0D0D0;
@jt-menu-subitem-bg: #192D4F;
@jt-sider-bg: #172B4D;
@jt-menu-item-color: #D0D0D0;